{% extends "page.tmpl" %}

{% block title %}ReTest - Java GUI Testing{% endblock title %}

{% block content %}

<!-- Content
================================================== -->
<div class="content-outer">

	<div id="page-content" class="row page">

		<div id="primary" class="eight columns">

			<section>
				{% block primary %}
				{% endblock primary %}

				{% include 'edit-github-snippet.tmpl' %}
			</section>
			<!-- section end -->

		</div>

		<div id="secondary" class="four columns end">
			<aside id="sidebar">
				{% include 'search-widget.tmpl' %}
				
				<div class="widget">
					<h5><a href="{{ root_url }}docs/de/">Doku Inhalt</a></h5>
					<ol>
						<li><a href="{{ root_url }}docs/de/testprozess">Definitionen, Vorbedingungen, Testprozesse</a></li>
						<li><a href="{{ root_url }}docs/de/konfiguration">Installation und Konfiguration</a></li>
						<li>
							<a href="{{ root_url }}docs/de/recapture">ReCapture</a>
							<ol>
								<li><a href="{{ root_url }}docs/de/recapture/aktionsfolge-aufzeichnen.html">Aufzeichnen einer Aktionsfolge</a></li>
								<li><a href="{{ root_url }}docs/de/recapture/aktionsfolge-bearbeiten.html">Bearbeiten einer Aktionsfolge</a></li>
								<li><a href="{{ root_url }}docs/de/recapture/aktionsfolge-umwandeln.html">Umwandeln einer Aktionsfolge</a></li>
								<li><a href="{{ root_url }}docs/de/recapture/test-zusammenstellen.html">Test zusammenstellen</a></li>
								<li><a href="{{ root_url }}docs/de/recapture/suite-zusammenstellen.html">Suite zusammenstellen</a></li>
								<li><a href="{{ root_url }}docs/de/recapture/suite-umwandeln.html">Suite umwandeln</a></li>
							</ol>
						</li>
						<li><a href="{{ root_url }}docs/de/replay">RePlay</a></li>
						<li><a href="{{ root_url }}docs/de/review">ReView</a></li>
						<li><a href="{{ root_url }}docs/de/surili">Surili</a></li>
					</ol>
				</div>
			</aside>
		</div>

	</div>

</div>
<!-- Content End-->
{% endblock content %}